// mixins

@mixin keyframe($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}

	@-moz-keyframes #{$name} {
		@content;
	}

	@-ms-keyframes #{$name} {
		@content;
	}

	@-o-keyframes #{$name} {
		@content;
	}

	@keyframes #{$name} {
		@content;
	}
}

/* animation keyframes */

@-webkit-keyframes fade-in {
    from	{ opacity: 0; }
    to		{ opacity: 1; }
}
@-moz-keyframes fade-in {
	from	{ opacity: 0; }
    to		{ opacity: 1; }
}
@-o-keyframes fade-in {
	from	{ opacity: 0; }
    to		{ opacity: 1; }
}
@keyframes fade-in {
	from	{ opacity: 0; }
    to		{ opacity: 1; }
}

/* dance floor */

@include keyframe(dance-floor) {
	from 	{	box-shadow: 0 0 25px #fff;	}
	10%		{	box-shadow: 0 0 20px #fff;	}
	40%		{	box-shadow: 0 0 20px #fff;	}
	50%		{	box-shadow: 0 0 30px #fff;	}
	60%		{	box-shadow: 0 0 20px #fff;	}
	90%		{	box-shadow: 0 0 20px #fff;	}
	100%	{	box-shadow: 0 0 25px #fff;	}
}

/* /dance floor */

	/* row 1 */

		/* cell 1 */

		@include keyframe(row-1-cell-1) {
			50%  {
				top: 82px;
				@include prefix(transform, rotate(0deg));
			}
			100% {	@include prefix(transform, rotate(450deg));	}
		}

		/* /cell 1 */

		/* cell 2 */

		@include keyframe(row-1-cell-2) {
			20%		{	@include prefix(transform, rotate(-90deg));	}
			26.666%	{	left: 124px;	}
			50%		{	left: 166px;	}
			55%		{	@include prefix(transform, rotate(-90deg));	}
			73.333%	{	left: 166px;	}
			80%		{	@include prefix(transform, rotate(25deg));	}
			90%		{	@include prefix(transform, rotate(-9deg));	}
			95%		{	@include prefix(transform, rotate(0));		}
		}

		@include keyframe(row-1-cell-2-after) {
			20%	{	bottom: 100%;	}
			35%	{	bottom: 50%;	}
			80%	{	bottom: 50%;	}
		}

		/* /cell 2 */

		/* cell 3 */

		@include keyframe(row-1-cell-3) {
			56.666%	{	@include prefix(transform, rotate(100deg));	}
			100% 	{	@include prefix(transform, rotate(360deg));	}
		}

		/* /cell 3 */

		/* cell 4 */

		@include keyframe(row-1-cell-4) {
			26.666%	{
				@include prefix(transform, rotate(90deg));
				top: $cellSize/2 + $tablePadding;
			}
			100%	{
				@include prefix(transform, rotate(90deg));
				top: $cellSize/2 + $tablePadding;
			}
		}

		@include keyframe(row-1-cell-4-after) {
			63.333%	{	@include prefix(transform, rotate(0deg));	}
			91.666%	{	@include prefix(transform, rotate(90deg));	}
			100%	{	@include prefix(transform, rotate(90deg));	}
		}

		/* /cell 4 */

		/* cell 5 */

		@include keyframe(row-1-cell-5-item-1) {
			25%		{	@include prefix(transform, rotate(0deg));	}
			43.333%	{	@include prefix(transform, rotate(-55deg));	}
			63.333%	{	@include prefix(transform, rotate(0deg));	}
			73.333%	{	@include prefix(transform, rotate(-3deg));	}
			83.333%	{	@include prefix(transform, rotate(0deg));	}
		}

		@include keyframe(row-1-cell-5-item-2) {
			38.333%	{	@include prefix(transform, rotate(0deg));		}
			100% 	{	@include prefix(transform, rotate(-360deg));	}
		}

		/* /cell 5 */

	/* /row 1 */

	/* row 2 */

		/* cell 1 */

		@include keyframe(row-2-cell-1) {
			50%  {	@include prefix(transform, rotate(90deg));	}
			100% {	@include prefix(transform, rotate(360deg));	}
		}

		/* /cell 1 */

		/* cell 2 */

		@include keyframe(row-2-cell-2) {
			26.666%	{	left: 124px;	}
			50%		{	left: 166px;	}
			73.333%	{	left: 166px;	}
		}

		/* /cell 2 */

		/* cell 3 */

		@include keyframe(row-2-cell-3) {
			65%  {	@include prefix(transform, translateY(0));		}
			80%  {	@include prefix(transform, translateY(100%));	}
			95%  {	@include prefix(transform, translateY(0));		}
		}

		/* /cell 3 */

		/* cell 4 */

		@include keyframe(row-2-cell-4) {
			33.333%  {	@include prefix(transform, scale(0.75, 0.75));	}
			66.666%  {	@include prefix(transform, scale(0.5, 0.5));	}
		}

		/* /cell 4 */

		/* cell 5 */

		@include keyframe(row-2-cell-5) {
			20%  { top: 166px; }
			85%  { top: 166px; }
		}

		/* /cell 5 */

	/* /row 2 */

	/* row 3 */

		/* cell 1 */

		@include keyframe(row-3-cell-1) {
			50%  {
				left: 154px;
				@include prefix(transform, rotate(374deg));
			}
		}

			/* before element */

			@include keyframe(row-3-cell-1-before) {
				50%  {	left: 46px;	}
			}

			/* /before element */

			/* after element */

			@include keyframe(row-3-cell-1-after) {
				50%  {	left: -46px;	}
			}

			/* /after element */

		/* /cell 1 */

		/* cell 2 */

		@include keyframe(row-3-cell-2) {
			50%  {	@include prefix(transform, translateX(-100%));	}
		}

		/* /cell 2 */

		/* cell 3 */

		@include keyframe(row-3-cell-3) {
			25%  {	@include prefix(transform, rotate(90deg));	}
			50%  {	@include prefix(transform, rotate(90deg));	}
			75%  {	@include prefix(transform, rotate(0deg));	}
		}

		/* /cell 3 */

		/* cell 4 */

		@include keyframe(row-3-cell-4) {
			50%		{	@include prefix(transform, rotate(-180deg));	}
			100%	{	@include prefix(transform, rotate(-360deg));	}
		}

		/* /cell 4 */

		/* cell 5 */

		@include keyframe(row-3-cell-5) {
			20%  {
				border-width: 0 42px 104px 42px;
				top: 188px;
			}
			40%  {
				border-width: 0 42px 104px 42px;
				top: 188px;
			}
			50% {
				border-width: 0 42px 20px 42px;
				top: 272px;
			}
			55% {
				border-width: 0 42px 40px 42px;
				top: 252px;
			}
			60% {
				border-width: 0 42px 26px 42px;
				top: 266px;
			}
			65% {
				border-width: 0 42px 32px 42px;
				top: 260px;
			}
		}

		/* /cell 5 */

	/* /row 3 */

	/* row 4 */

		/* cell 1 */

		@include keyframe(row-4-cell-1) {
			20%		{	@include prefix(transform, rotate(0deg));	}
			60%		{	@include prefix(transform, rotate(450deg));	}
			100%	{	@include prefix(transform, rotate(450deg));	}
		}

			@include keyframe(row-4-cell-1-item-1) {
				20%		{	@include prefix(transform, scale(1, 1));		}
				35%		{	@include prefix(transform, scale(0.5, 0.5));	}
				46.666%	{	@include prefix(transform, scale(0.5, 0.5));	}
				60%		{	@include prefix(transform, scale(1, 1));		}
			}

			@include keyframe(row-4-cell-1-item-2) {
				5%		{	right: -50%;	}
				21.666%	{	right: 0;		}
				60%		{	right: 0;		}
				76.666%	{	right: -50%;	}
			}

		/* /cell 1 */

		/* cell 2 */

		@include keyframe(row-4-cell-2) {
			10%	{	border-width: 30px;	}
			46%	{	border-width: 12px;	}
			54%	{	border-width: 12px;	}
			90%	{	border-width: 30px;	}
		}

		/* /cell 2 */

		/* cell 3 */

		@include keyframe(row-4-cell-3-after) {
			26.666%	{	@include prefix(transform, skewY(18deg));	}
			36.666%	{	@include prefix(transform, skewY(18deg));	}
			55%		{	top: 72px;	}
			70%		{	@include prefix(transform, skewY(-11deg));	}
			76.666%	{	@include prefix(transform, skewY(-11deg));	}
		}

		/* /cell 3 */

		/* cell 4 */

		@include keyframe(row-4-cell-4-before) {
			50%		{	@include prefix(transform, rotate(-90deg));	}
			100%	{	@include prefix(transform, rotate(-90deg));	}
		}

		@include keyframe(row-4-cell-4-after) {
			50%		{	@include prefix(transform, rotate(0deg));	}
			100%	{	@include prefix(transform, rotate(-90deg));	}
		}

		/* /cell 4 */

		/* cell 5 */

		@include keyframe(row-4-cell-5-after) {
			6.666%	{
				width: 100%;
				height: 100%;
				left: 0;
			}
			31.666%	{
				width: 300%;
				height: 13px;
				left: -200%;
			}
			58.333%	{
				width: 200%;
				height: 26px;
				left: -100%;
			}
			61.666%	{
				width: 200%;
				height: 26px;
				left: -100%;
			}
			95%	{
				width: 100%;
				height: 100%;
				left: 0;
			}
		}

		/* /cell 5 */

	/* /row 4 */

	/* row 5 */

		/* cell 1 */

			@include keyframe(row-5-cell-1-item-1) {
				20%		{	@include prefix(transform, rotate(90deg));	}
				80%		{	@include prefix(transform, rotate(90deg));	}
				100%	{	@include prefix(transform, rotate(0deg));	}
			}

			@include keyframe(row-5-cell-1-item-2) {
				26.666%	{	bottom: 220px;	}
				55%		{	bottom: -6px;	}
				75%		{	bottom: 52px;	}
			}

		/* /cell 1 */

		/* cell 2 */

			@include keyframe(row-5-cell-2-item-1) {
				20%	{	@include prefix(transform, rotate(-90deg));	}
				70%	{	@include prefix(transform, rotate(-90deg));	}
				90%	{	@include prefix(transform, rotate(0deg));	}
			}

			@include keyframe(row-5-cell-2-item-2) {
				28.333%	{	bottom: -1px;	}
				50%		{	bottom: 52px;	}
				71.333%	{	bottom: -1px;	}
			}

		/* /cell 2 */

		/* cell 3 */

		@include keyframe(row-5-cell-3) {
			13.333%	{	@include prefix(transform, rotate(12deg));	}
			26.666%	{	@include prefix(transform, rotate(-5deg));	}
			36.666%	{
				top: 376px;
				@include prefix(transform, rotate(0deg));
			}
			43.333%	{	top: 376px;	}
			60%		{	@include prefix(transform, rotate(4deg));	}
			65%		{	top: 428px;	}
			75%		{
				top: 422px;
				@include prefix(transform, rotate(-5deg));
			}
			81.666%	{	@include prefix(transform, rotate(1deg));	}
			85%		{	top: 428px;	}
			88.333%	{	@include prefix(transform, rotate(0deg));	}
			93.333%	{	top: 426px;	}
		}

		/* /cell 3 */

		/* cell 4 */

		@include keyframe(row-5-cell-4) {
			16.666%	{	@include prefix(transform, rotate(0deg));	}
			66.666%	{	@include prefix(transform, rotate(360deg));	}
			100%	{	@include prefix(transform, rotate(360deg));	}
		}

		@include keyframe(row-5-cell-4-item-1) {
			16.666%	{	left: $cellSize/2;	}
			66.666%	{	left: $cellSize/2;	}
			83.333%	{	left: 0;			}
		}

		@include keyframe(row-5-cell-4-item-2) {
			16.666%	{	right: $cellSize/2;	}
			66.666%	{	right: $cellSize/2;	}
			83.333%	{	right: 0;			}
		}

		/* /cell 4 */

		/* cell 5 */

		@include keyframe(row-5-cell-5) {
			10%		{
				left: 418px;
				@include prefix(transform, rotate(0deg));
			}
			50%		{	left: 376px;	}
			100%	{	@include prefix(transform, rotate(-540deg));	}
		}

		/* /cell 5 */

	/* /row 5 */

/* /animation keyframes */